body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,input,img,div,dl,dd{
    margin:0;padding:0;
}
body{
    font-size:16px;
    font-family: "微软雅黑";
    line-height:2em;
    background-color: #ccc;
}
a{
    color:#0000cc;
}

/*清除浮动*/
.clearfix:after{
    content:"";
    display: block;
    clear:both;
}
.clearfix{
    zoom:1;
}